{% extends 'base.html' %}
{% load static %}

{% block content %}

    <!-- Slider Area -->
    <section class="slider">
        <div class="hero-slider">
            <div class="single-slider" style="background-image:url('https://img.freepik.com/free-photo/female-doctor-blue-uniform-holding-alarm-clock-looking-positive_176474-11844.jpg?t=st=1720961544~exp=1720965144~hmac=60cb951d9e08e5fc3794c667bba14494abb8c79785b791810137665657a9eedf&w=2000')">
                <div class="container">
                    <div class="row">
                        <div class="col-lg-7">
                            <div class="text">
                                <h1>We Provide <span>Emergency Medical</span> Services You Can <span>Count On!</span></h1>
                                <p>Our priority is your safety and health. We are here to respond swiftly to emergencies and provide immediate care when every second counts.</p>
                     
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <!-- End Slider Area -->

    <!-- Schedule Area -->
    <section class="schedule">
        <div class="container">
            <div class="schedule-inner">
                <div class="row">
                    <div class="col-lg-4 col-md-6 col-12">
                        <div class="single-schedule first">
                            <div class="inner">
                                <div class="icon">
                                    <i class="fa fa-ambulance"></i>
                                </div>
                                <div class="single-content">
                                  <h4>Seek Immediate Assistance</h4>
                                    <p>If you or someone you know is facing a medical emergency, do not hesitate to contact us immediately. Every moment counts in an emergency situation.</p>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="col-lg-4 col-md-6 col-12">
                        <div class="single-schedule middle">
                            <div class="inner">
                                <div class="icon">
                                    <i class="icofont-prescription"></i>
                                </div>
                                <div class="single-content">
                                  
                                    <h4>View Personal Medical Information</h4>
                                    <p>Access your personal medical information securely to ensure accurate and timely care during emergencies.</p>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="col-lg-4 col-md-12 col-12">
                        <div class="single-schedule last">
                            <div class="inner">
                                <div class="icon">
                                    <i class="icofont-ui-clock"></i>
                                </div>
                                <div class="single-content">
                              
                                    <h4>Inform Emergency Contacts</h4>
                                    <p>Ensure your designated emergency contacts are informed about your health conditions and how to reach you in emergencies for swift assistance.</p>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <!-- End Schedule Area -->

{% endblock %}
